.cards {
    display: inline-block;
    transition: transform .2s;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    margin: 0.49rem;
    cursor:pointer;
    min-width:200px;
    height:340px;
    z-index:0;
}

.cards:hover {
    transform: scale(1.2);
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.cards__img {
    height: 340px;
}

.cards__overlay {
    position: absolute;
    padding: 0 1rem 1rem 1rem;
    bottom: 0px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1));
    opacity: 0;
    transition: opacity .2s;
}   

.cards__overlay:hover {
    opacity: 1;
}

.card__title {
    font-weight: 900;
    font-size: 1rem;
    margin-bottom: 0.4rem;
}

.card__runtime {
    font-size: .75rem;
    margin-bottom: 0.25rem;
}

.card__rating {
    padding-left: 5px;
    font-size: .75rem;
}

.card__description {
    font-style: italic;
    font-size: .75rem;
    margin-bottom: 0.25rem;
}