

.posterImage{
    height: 600px;
    width: 100%;    
}

.posterImage > img {
    margin: auto;
    display: block;
    width: 100%;
    opacity: 50%;
    height: 150%;
    opacity: 0;
    animation: fadeinBackdrop 1.5s ease forwards 1.5s;
}

.posterImage__overlay {
    position: absolute;
    padding: 5rem;
    bottom: 0px;
    height: 50%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    opacity: 0;
    animation: fadein 1.5s ease forwards 2.2s;
    visibility: hidden;
}   

.posterImage__title {
    font-weight:700;
    font-size: 3rem;
    margin-bottom: 0.4rem;
    text-align: left;
}

.posterImage__mediatype {
    font-size: 0.8rem;
    font-weight: 500;
    border-radius: 10px;
    border: solid 2px;
    padding: 0px 5px 
}

.posterImage__runtime {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    text-align: left;
}

.posterImage__raiting {
    font-size: 2rem;
    font-weight: 500;
    padding-left:  40px;
}

.posterImage__description {
    font-style: italic;
    font-size: 1rem;
    margin-bottom: 1rem;
    display: flex;
    text-align: left;
    width: 50%;
}

@keyframes fadeinBackdrop {
    0% { opacity: 0; visibility: hidden; }
    100% { opacity: 0.7; visibility: visible; }
}

/*  Responsive tablet */
@media screen and (max-width:900px) {


    .posterImage {
        height: 400px;
    }
    
    .posterImage__title {
        font-size: 2rem;
    }

    .posterImage__runtime {
        font-size: 1rem;
    }

    .posterImage__mediatype {
        font-size: 0.5rem;
    }

    .posterImage__raiting {
        font-size: 1rem
    }

    .posterImage__description {
        font-size: 0.7rem;
    }

}

/* Responsive mobile */
@media screen and (max-width:720px) {
    .posterImage {
        height: 220px;
        margin-top: 60px;
    }
    
    .posterImage__overlay {
        padding-bottom: 10px;
        padding-left: 30px;
    }
    .posterImage__title {
        font-size: 1.5rem;
        margin-top: 8rem;
    }

    .posterImage__runtime {
        font-size: .8rem;
    }

    .posterImage__mediatype {
        font-size: .3rem;
        display: none;
    }

    .posterImage__raiting {
        padding-left: 2px;
        font-size: .8rem
    }

    .posterImage__description {
        font-size: 0.6rem;
        width: 100%;
        margin-top: 10px;
    }

}