
.media {
    display: flex;
    flex-direction:column;
    align-items: center;
    z-index: -1;
    
}

.media__intro {
    width: 100%;
}

.media__backdrop {
    width: 100%;
    height: 500px;
    object-fit:cover;
    opacity: 0;
    object-position: 0 25%;
    animation: fadeinBackdrop 1.5s ease forwards 1.5s;
}

.media__detail {
    align-items: center;
    max-width: 70%;
    display: flex;
    position: relative;
    bottom: 225px;
    opacity: 0;
    animation: fadein 1.5s ease forwards 1.5s;
    visibility: hidden;
}

.media__detailLeft {
    margin-right: 30px;
}

.media__poster {
    width:350px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.86) 0px 22px 40px 6px; 
    animation: zoomInPoster 1.5s ease forwards 1.5s;
    visibility: hidden;
}

.media__detailRight {
    color: white;
    display: flex;
    flex-direction: column;
    height: 450px;
    justify-content:space-between ;

}

.media__detailRightTop > div{
    text-shadow: 0px 0px 5px #000000;
    margin-bottom: .5rem;
}

.media__name {
    font-weight: 600;
    font-size: 3rem;
}

.media__voteCount {
    margin-left: 1rem;
}

.media__genres {
    margin: 1.25rem 0;
    display:flex;
}

.media__genre {       
    padding: .3rem 1rem;
    font-size: 1rem;
    border: 2px solid white;
    border-radius: 20px;
    margin-right: 1rem;
    &:hover {
        background-color: whitesmoke;
        text-shadow: none;
        color: #000000;
    }
}


.media__detailRightBottom {
    margin: 2rem 0;
    flex: 0.8;
}

.synopsisText {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
    font-weight: 600;
    display: flex;
    position: relative;
    align-items: center;
}

.synopsisText > div:last-of-type {
    margin-left: auto;
}

.media__links {
    margin-top: 35rem;
    position: relative;
    bottom: 120px;
    display: flex;
    justify-content: flex-start;
    width: 75%;
}

.media__heading {
    font-size: 1.5rem;
    margin-bottom: 50px;
    
}

.media__Button {
    display: flex;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 2rem;
    border-radius: 20px;
    cursor: pointer;
    width: 220px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.media__homeButton {
    background-color:rgb(255, 255, 255);   
}

.media__imdbButton {
    background-color:#f3ce13;
}

.newTab {
    margin-left: 1.4rem;
    
}

.media__production {
    max-width: 85%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 4rem;
    
}


.media__productionComapany {
    width: 80px;
    margin: 2rem;
}

.productionCompanyImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Animation */
@keyframes zoomInPoster {
    0% {
        transform: scale(0.8);
        visibility: hidden;
    }
    100% {
        transform: scale(1);
        visibility: visible;
    }
    }
      
@keyframes flyin {
    0% {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-50px);

    }
    100% {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
    }
  }


@keyframes fadein {
    0% { opacity: 0; visibility: hidden; }
    100% { opacity: 1; visibility: visible; }
}

/* Responsive tablet */
@media screen and (max-width:955px) {
    * {
        font-size: 1rem;
    }

    .media__backdrop {
        height: 300px;
    }
    .media__name {
        font-weight: 600;
        font-size: 2rem;
    }
    .media__poster {
        width: 250px;
        margin-bottom: 150px;
    }

    .media__detail {
        margin-right: 50px;
        margin-top: 80px;   
    }

    .media__detailRight {
        max-width: 60%;
    }

}

/* Responsive mobile  */
@media screen and (max-width:720px) {
    * {
        font-size: 0.8rem;
    }

    .media__backdrop {
        height: 200px;
    }

    .media__poster {
        width: 120px;
        margin-bottom: 300px;
    }

    .media__name {
        font-weight: 600;
        font-size: 1.2rem;
    }
    
    .media__genre {
        font-size: 0.5rem;
        border-radius: 10px;
        border: solid 0.2px;
    }
    .media__detail {
        margin-right: 50px;
        margin-top: 150px;
        
    }


    .media__detailRightBottom {
        margin-bottom: 70px;
    }

    .media__heading {
        font-size: 1.2rem
    }
    .media__Button {
        width: 100px;
        margin-left: 15px;
    }

}
