.footer {
    position: relative;
    padding: 5rem 2rem;
}

.footer__content {
    max-width: 1000px;
}

.footer__content__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.footer__content__logo a {
    opacity: 1;
    color: whitesmoke;
    text-decoration: none;
}


.footer__content__menus {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.footer__content__menu {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.footer__content__menu > a {
    margin-top: 1rem;
    color: aliceblue;
    text-decoration: none; 
    
    &:hover {
        color: #fbee61;
    }
}

.copyright {
    padding-top: 5rem;
    font-weight: 400;
    position: relative;
    font-size: 12px;
    text-align: center;
}


@media (max-width: 720px) {
    .footer__content__menus {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__content__logo img {
         transform: translateY(7px);;
    }

    .footer__content__logo a {
         font-size: 1.7rem;
    }

    .copyright {
       
        font-weight: 400;
        position: relative;
        font-size: 7px;
        text-align: center;
    }
}
