
.headerLeft ul {
    display: flex;
    margin: 30px;
    list-style: none;
  }
  
  .headerLeft ul a {
    text-decoration: none;
    padding: 10px;
  }
  
  .headerLeft ul a li {
    color: whitesmoke; 
    transition: 0.2s;
    cursor: pointer;
  }
  
  .headerLeft ul a li:hover {
    color: #fbee61; 
  }
  
  .headerLeft ul .nav-active {
    position: relative;
  }
  

  .headerLeft ul .nav-active::after {
    content: "";
    height: 2px;
    width: 0;
    background: #fbee61; 
    position: absolute;
    border-radius: 10px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-animation: anim 0.3s ease forwards;
    animation: anim 0.6s ease forwards;
  }
  
  @-webkit-keyframes anim {
    to {
      width: 100%;
    }
  }
  
  @keyframes anim {
    to {
      width: 100%;
    }
  }