.media__list {
    padding: 1 1rem 1rem 1rem;
}

.list__title {
    font-size: 1.75rem;
    font-weight: 700;
    margin:  3rem 5rem ;
}

.list__cards {
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;  
}

