.skeleton-card {
  display: inline-block;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin: 0.49rem;
  min-width: 220px;
  height: 340px;
  background-color: #2c2c2c; /* Dark mode background */
  animation: pulse 1.5s infinite ease-in-out;
}

.skeleton-img {
  height: 340px;
  background-color: #3c3c3c; /* Dark mode background */
  animation: pulse-img 1.5s infinite ease-in-out;
}

.skeleton-overlay {
  position: absolute;
  bottom: 0;
  height: 350px;
  width: 100%;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7),
    transparent
  ); /* Darker overlay */
}

@keyframes pulse {
  0% {
    background-color: #2c2c2c;
  }
  50% {
    background-color: #3c3c3c;
  }
  100% {
    background-color: #2c2c2c;
  }
}

@keyframes pulse-img {
  0% {
    background-color: #3c3c3c;
  }
  50% {
    background-color: #4c4c4c;
  }
  100% {
    background-color: #3c3c3c;
  }
}
