@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.5;
  font-size: 1.2rem;
}

html, body, #root, .App {
  min-height: 100%;
  background-color: #0f0f0f;
  z-index: 0;
}
